* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .forall {
    display: flex;
    padding: 5px;
    width: 100%;

  }
  .orange {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 5px whitesmoke;
    box-shadow: 1px 1px 21px 1px rgba(0,0,0,0.75);
    width: 110px;
    height: 80px;
    :first-child {
      color: rgb(131, 117, 74);
      width: 60px;
      height: 60px;
    }
  }
  .fortxt {
    padding-left: 10px;
    width: 100%;
    height: 100%;
  }
  .fortxt h1 {
    font-size: 20px;
  }
  .fortxt h2 {
    font-size: 18px;
  }